hr {
    width: 80%;
    color: #cccccc;   
}
header {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    border-bottom: solid 1px #eeeeee;
    max-width: 80%;
    margin-left: 10%;
}
footer {
    text-align: center;
    font-size: 9pt;
    color: #999999;
    font-style: italic;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h4 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h5 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h6 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.user-image {
    max-width: 150px;
}
.create-party-btn {
    font-size: 13pt;
    padding-left: 50px;
    padding-right: 50px;
}
.account-links {
    margin-top: 20px;
    font-size: 10pt;
    padding-bottom: 20px;
    text-align: center;
}
.new-party-form {
    margin-top: 30px;
}
.party-header-bar { }
.tracks-display {
    text-align: left;
}
.song {
    border-bottom: solid .1px #eeeeee;
    background: transparent;
}
.song:hover {
    background: whitesmoke;
}
.song-name {
    font-weight: bold;
    font-size: 13pt;
}
.song-name-hyperlink {
    color: black;
}
.song-name-hyperlink:hover {
    color: maroon;
}
.song-artists {
    font-style: italic;
    font-size: 12pt;
}
.song-votes {
    font-size: 14pt;
}
.song-vote-btn {
    color: black;
    font-size: 14pt;
}
.song-vote-btn:hover {
    color: maroon;
}
.left-aligned {
    text-align: left;
}
.center-aligned {
    text-align: center;
}
.right-aligned {
    text-align: right;
}