{# Core Jukebox app. #}
{# 6 March 2018, Benjamin Shanahan #}
{% extends "base.html" %}

{% block prebody %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
    {% block jukebox_header %}
        <p>
            <img class="img-fluid z-depth-1 rounded-circle user-image" src="static/img/icon/unknown-user.png" alt="Profile Image" id="user-profile-image">
        </p>
        <p>Hello, <span id="user-display-name">the page is loading</span>!</p>
    {% endblock %}
{% endblock %}

{% block content %}

    {% block jukebox_content %}
    {% endblock %}

    <div class="account-links">
        {% if context["is_user_logged_in"] %}
            <a href="/account">Settings</a>&nbsp;|&nbsp;<a href="/logout">Logout</a>
        {% elif context["party_id"] %}
            <a href="/login?redirect={{context['party_id']}}">Login to Spotify</a>
        {% else %}    
            <a href="/login?redirect=account">Login to Spotify</a>
        {% endif %}
    </div>

{% endblock %}