{# Create a new Jukebox party. #}
{# 6 March 2018, Benjamin Shanahan #}
{% extends "jukebox_base.html" %}

{% block jukebox_content %}

    <h3>Create New Party</h3>
    
    <!-- Party creation form -->
    <form class="new-party-form">
        <p class="text-center">Fill out a few details and we'll take care of the rest!</p>

        <!-- Party name -->
        <div class="md-form">
            <!-- TODO bug it seems that font-awesome is blocking interactivity -->
            <i class="fas fa-users prefix grey-text"></i>
            <input type="text" class="form-control" id="new-party-name">
            <label for="new-party-name">Party name</label>
        </div>

        <!-- Party description -->
        <div class="md-form">
            <i class="fas fa-quote-left prefix grey-text"></i>
            <input type="text" class="form-control" id="new-party-description">
            <label for="new-party-description">Party description</label>
        </div>

        <!-- Starter playlist (optional) -->
        <div class="md-form">
            <i class="fas fa-music prefix grey-text"></i>
            <input type="text" class="form-control" id="new-party-playlist">
            <label for="new-party-playlist">Starter playlist</label>
        </div>

        <div class="text-center mt-4">
            <button class="create-party-btn btn btn-unique" type="button" id="new-party-btn">Create Party</button>
        </div>
    </form>
    <!-- END Party creation form -->

{% endblock %}

{% block footer %}
    {{ super() }}
    <!-- Load app with RequireJS. -->
    <script>
        requirejs(["static/js/common"], function(common) {
            requirejs(["static/js/init_create_party_page"]);
        });
    </script>
{% endblock %}