{# Create a new Jukebox party. #}
{# 6 March 2018, Benjamin Shanahan #}
{% extends "jukebox_base.html" %}

{#  Shorthand...                #}
{%  if context["is_party_host"] %}
{%      set is_host = True      %}
{%  else                        %}
{%      set is_host = False     %}
{%  endif                       %}
{%  if context["is_user"]       %}
{%      set is_user = True      %}
{%  else                        %}
{%      set is_user = False     %}
{%  endif                       %}

{% block jukebox_header %}
    <div class="party-header">
        {% if is_host %}
            <h4 contenteditable="true" class="editable-text" id="header-party-name">{{context["party_name"]}}</h4>
            <p  contenteditable="true" class="editable-text" id="header-party-description">{{context["party_description"]}}</p>
        {% else %}
            <h4 id="header-party-name">{{context["party_name"]}}</h4>
            <p id="header-party-description">{{context["party_description"]}}</p>
        {% endif %}
    </div>
{% endblock %}

{% block jukebox_content %}
    {% if is_host %}
        <p class="center-aligned"><b><a href="{{context['party_id']}}">Use this link</a></b> to share this party with your friends!</p>
        <div class="party-admin-controls">
            <button type="button" class="btn btn-unique btn-rounded btn-block" data-toggle="modal" data-target="#spotify-export-modal">
                Export Party to Spotify
            </button>
        </div>

        <!-- Modal: Confirm export to Spotify dialog. -->
        <div class="modal fade" id="spotify-export-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Export Party to Spotify</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to export your party, <b>{{context['party_name']}}</b>?</p>
                        <p>If you have not exported this party before, a new public playlist will be created on your Spotify account with the songs from this party. Otherwise, the current playlist will be updated to reflect the current song rankings.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-unique btn-rounded" id="spotify-export-btn">Export</button>
                        <button type="button" class="btn btn-grey btn-rounded" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Confirm deletion dialog. -->
        <div class="modal fade" id="delete-party-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Party</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete your party, <b>{{context['party_name']}}</b>?</p>
                        <p>This action is permanent and cannot be undone. If you have exported this party to a Spotify playlist, the Spotify playlist will not be deleted.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-unique btn-rounded" id="delete-party-btn">Delete</button>
                        <button type="button" class="btn btn-grey btn-rounded" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="tracks-display">
    
    {% for track in context["tracks"]|sort(attribute='votes', reverse=True) %}
        {% if context["highlight"] == "spotify:track:" + track["song_id"] or 
              context["highlight"] == track["song_id"] %}
        <div class="row song align-items-center highlight">
        {% else %}
        <div class="row song align-items-center">
        {% endif %}
            <span class="col-4 song-name">
                <a class="song-name-hyperlink" 
                   href="https://open.spotify.com/track/{{track['song_id']}}" target="_blank">
                   {{track["name"]}}
                </a>
            </span>
            <span class="col-5 song-artists">{{track["artists"]}}</span>
            <span id="{{track['song_id']}}-votes" class="col-1 song-votes">{{track["votes"]}}</span>
            <span class="col-1 song-votes">
                <a class="song-vote-btn" href="javascript:vote_on_song('{{track['song_id']}}-votes', '{{context['party_id']}}', '{{track['song_id']}}', 'up');">&#x25B2;</a><br>
                <a class="song-vote-btn" href="javascript:vote_on_song('{{track['song_id']}}-votes', '{{context['party_id']}}', '{{track['song_id']}}', 'down');">&#x25BC;</a>
            </span>
        </div>
    {% endfor %}
    
    </div>

    {% if is_user %}
    <!-- Modal: Add a new song to the playlist. -->
    <div class="song-add-container">
        <button class="add-song-btn btn btn-unique btn-rounded btn-block" data-toggle="modal" data-target="#add-song-modal" type="button" id="add-song-modal-open-btn">Add a Song</button>
        <div class="modal fade" id="add-song-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a Song</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please right click the song you'd like to add in Spotify, click <i>Copy Spotify URI</i>, and then paste it below:</p>
                        <!-- New song input. -->
                        <div class="md-form">
                            <i class="fas fa-music prefix grey-text"></i>
                            <input type="text" class="form-control" id="add-song-uri-input">
                            <label for="add-song-uri-input">Song URI</label>
                        </div>
                        <!-- Display errors here. -->
                        <div class="right-aligned">
                            <span class="add-song-error-text" id="add-song-error-text"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-unique btn-rounded" id="add-song-btn">Add a Song</button>
                        <button type="button" class="btn btn-grey btn-rounded" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="song-add-container center-aligned">
        <p>You must login to add songs!</p>
    </div>
    {% endif %}

    {% if is_host %}
        <br><hr>
        <div class="center-aligned delete-party-container">
            <a href="#" class="delete-party-link" id="delete-party" data-toggle="modal" data-target="#delete-party-modal">Delete Party</a>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}
    <!-- Load app JS requirements. -->
    <script src="static/js/api.js"></script>
    <script src="static/js/jukebox.js"></script>
    <!-- Defer app start until page has loaded. -->
    <script defer>
        initialize_view_party_page("{{context['party_id']}}", {{"true" if is_host else "false"}});
        console.log("Loaded create view party page.");
    </script>
{% endblock %}
