{# Create a new Jukebox party. #}
{# 6 March 2018, Benjamin Shanahan #}
{% extends "jukebox_base.html" %}

{% block jukebox_header %}
    <h4>{{context["party_name"]}}</h4>
    <p>{{context["party_description"]}}</p>
{% endblock %}

{% block jukebox_content %}
    <div class="tracks-display">
    
    {% for track in context["tracks"] %}
        <div class="row song align-items-center">
            <span class="col-4 song-name">{{track["name"]}}</span>
            <span class="col-4 song-artists">{{track["artists"]}}</span>
            <span class="col-2 song-votes">{{track["votes"]}}</span>
            <span class="col-2 song-votes">
                <a href="#">&#x25B2;</a><br>
                <a href="#">&#x25BC;</a>
            </span>
        </div>
    {% endfor %}
    
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <!-- Load app JS requirements. -->
    <script src="static/js/api.js"></script>
    <script src="static/js/jukebox.js"></script>
    <!-- Defer app start until page has loaded. -->
    <script defer>
        // TODO
        console.log("Loaded create view party page.");
    </script>
{% endblock %}