{# Core Jukebox app. #}
{# 6 March 2018, Benjamin Shanahan #}
{% extends "base.html" %}

{% block prebody %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
    <p>
        <img class="img-fluid z-depth-1 rounded-circle user-image" src="" alt="Profile Image" id="user-profile-image">
    </p>
    <p>Hello, <span id="user-display-name">undefined</span>!</p>
{% endblock %}

{% block content %}

    <!-- Party creation form -->
    <form class="new-party-form">
        <p class="h4 text-center mb-4">Create New Party</p>
        <p class="text-center">Fill out a few details and we'll take care of the rest!</p>

        <!-- Party name -->
        <div class="md-form">
            <!-- TODO bug it seems that font-awesome is blocking interactivity -->
            <i class="fas fa-users prefix grey-text"></i>
            <input type="text" class="form-control" id="new-party-name">
            <label for="new-party-name">Party name</label>
        </div>

        <!-- Party description -->
        <div class="md-form">
            <i class="fas fa-quote-left prefix grey-text"></i>
            <input type="text" class="form-control" id="new-party-description">
            <label for="new-party-description">Party description</label>
        </div>

        <!-- Starter playlist (optional) -->
        <div class="md-form">
            <i class="fas fa-music prefix grey-text"></i>
            <input type="text" class="form-control" id="new-party-playlist">
            <label for="new-party-playlist">Starter playlist</label>
        </div>

        <div class="text-center mt-4">
            <button class="create-party-btn btn btn-unique" type="button" id="new-party-btn">Create Party</button>
        </div>
    </form>
    <!-- END Party creation form -->

    <div class="account-links">
        <a href="/logout">Logout</a>&nbsp;|&nbsp;<a href="javascript:revoke_permissions();" target="_blank">Revoke Permissions</a>
    </div>

{% endblock %}